<h1><strong>T</strong>riple<strong>R</strong></h1>
<p class="greeting"><strong>R</strong>eutilar <strong>R</strong>eduzir <strong>R</strong>eciclar</p>

<%= render "shared/recycleBins" %>

<section class="dailyTips">
  <h2><%= tip_of_the_day.title %></h2>
  <%= image_tag tip_of_the_day.image_url %>
  <p><%= tip_of_the_day.body %></p>
</section>

<button type="button" name="btnCamera"></button>

<hr>

<% if current_user %>
  <%= form_for(current_user.contributions.new, multipart: true) do |f| %>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit 'Upload' %>
    </div>
  <% end %>
<% end %>
