<% @tips.each do |tip| %>
  <div class="dailyTips">
    <h2><a href="<%= tips_path %>"><%= tip.title %></a></h2>
    <a href="<%= tips_path %>"><%= image_tag tip.image_url %></a>
    <p><%= tip.body %></p>
  </div>
<% end %>
