<% @tips.each do |tip| %>
  <div class="dailyTips">
    <h2><a href="<%= tips_path %>"><%= tip_of_the_day.title %></a></h2>
    <a href="<%= tips_path %>"><%= image_tag tip_of_the_day.image_url %></a>
    <p><%= tip_of_the_day.body %></p>
  </div>
<% end %>
